<!DOCTYPE html>
	
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	
	<style>
		body{
			overflow-y: hidden;
			font-family: helvetica;
		}
		hr {
			border: none;
			background-color: #ccc;
			color: #ccc;
			height: 1px;
		}
        .description{
        	color:rgba(120, 120, 120, 1);
            margin: 4px 0px;
        }
        .mailinfo{
        	color:rgba(80, 80, 80, 1);
            font-size: 14px;
            margin: 0px 0px;
        }
		.container{
			background-color:rgba(40, 184, 71, 0.2);
			padding: 250px 20px;
		}
		.card{
			background-color: white;
			padding: 20px;
			border: 0px;
			min-height: 40%;
			border-radius: 10px;
			margin: 0 auto;
			text-align:center
		}
		.btn{
			text-decoration: none;
			padding: 15px 30px;
			text-align: center;
			border-radius: 6px;
			color: rgb(31, 182, 68);
			font-size: 18px;
			margin: 4px 2px;
		}
		
		/* Small devices (vertical phones, 120px and up) */
		@media (min-width: 120px) {  
			.card{width: 90%}
			.logo{width: 25%}
			.description{font-size: 18px}
		} 
		/* Medium devices (tablets, 768px and up) */
		@media (min-width: 768px) {  
			.card{width: 80%}
			.logo{width: 15%}
			.description{font-size: 20px}
		}
		/* Large devices (desktops, 992px and up) */
		@media (min-width: 992px) { 
			.card{width: 40%}
			.logo{width: 15%}
			.description{font-size: 21px}
		}  
	</style>
</head>
	
<body>
		<div class="container">
			<div class="card">
					<img class="logo" src="https://www.renx-italia.com/wp-content/uploads/2022/05/Obraz1.webp">
					<br><br>
					<p>
						<h2><%=title%></h2>
					</p>
					<p class="description">
						<%=body%><br>
					</p>
					<a class="btn" href="<%=resetLink%>">
						<b><%=buttonText%></b>
					</a>
                    <p></p>
					<p class="mailinfo">
						<%=footText%><br>
					</p>
					<p class="mailinfo">
						<%=footText2%><br>
					</p>
			</div>
		</div>				  
</body>
			  
</html>