<!DOCTYPE html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

	<style>
		body {
			font-family: helvetica;
			width: 100%;
			padding: 0;
			margin: 0;
			color: #000;
		}

		h2 {
			color: #000;
		}

		.logo-img {
			width: 100%;
			height: auto;
		}

		.description {
			color: rgba(120, 120, 120, 1);

		}

		.mailinfo {
			color: rgba(80, 80, 80, 1);
			font-size: 12px;

		}

		.container {
			background-color: rgb(21, 43, 90);
			width: 100%;
			padding: 2.5rem 2rem;

		}

		.card {
			background-color: white;
			width: 100%;
			border-radius: 10px;
			margin: 20px 10px;
			text-align: center;
			margin: 0 auto;
			padding: 1rem 1.5rem;

		}

		.btn {
			text-decoration: none;
			color: rgb(210, 172, 85);
			font-size: 1.5rem;
		}

		b {
			color: rgb(210, 172, 85);
		}
	</style>
</head>

<body>
	<table class="container" width="600" role="presentation">
		<tbody>
			<tr>
				<td valign="top" width="600px">

					<table class="card">
						<tbody>
							<tr>
								<td>
									<img class="logo"
										src="https://drive.google.com/uc?export=download&id=1AYmKaBS_lio75tqpeX0sRTuEkdSel59D"
										alt="Logo" title="Logo" width="95" height="95" />
								</td>
							</tr>
							<tr>
								<td>
									<h2>
										<%=title%>
									</h2>
								</td>
							</tr>
							<tr>
								<td>
									<p class="description">
										<%=body%>
									</p>
								</td>
							</tr>
							<tr>
								<td>
									<a class="btn" href="<%=resetLink%>"><b>
											<%=buttonText%>
										</b></a>
								</td>
							</tr>
							<tr>
								<td>
									<p class="mailinfo">
										<%=footText%><br />
											<%=footText2%>
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>