<!DOCTYPE html>
	
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <!--Qui inizia il richiamo per bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    
    <!--Questo è per il corretto funzionamento su mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Qui finisce il richiamo per bootstrap-->
	
	<style>
		body{
			overflow-y: hidden;
			font-family: sans-serif;
		}
		.jumbotron{
			background-color:rgb(80, 80, 80);
		}
		.card{
			padding: 20px;
			border: 0px;
			min-height: 40%;
		}
		.form-control{
			border: 0px;
			box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.2); 
		}
		#password_reset ::placeholder {
		 	color: rgb(82, 82, 82);
		 	opacity: 0.3;
		}
		#password_reset input:focus{
			box-shadow: 0 0 0 3px rgba(0, 255, 98, 0.6);
		}
		
		/* Small devices (vertical phones, 120px and up) */
		@media (min-width: 120px) {  
			.card{width: 90%}
			.logo{width: 25%}
		} 
		/* Medium devices (tablets, 768px and up) */
		@media (min-width: 768px) {  
			.card{width: 80%}
			.logo{width: 15%}
		}
		/* Large devices (desktops, 992px and up) */
		@media (min-width: 992px) { 
			.card{width: 50%}
			.logo{width: 10%}
		}   
	</style>
</head>
	
<body>
	<div class="jumbotron d-flex align-items-center justify-content-center min-vh-100 text-center">
		<div class="container d-flex justify-content-center text-center">
			<div class="card shadow-sm">
				<div class="card-body" id="main_card_body">
					<img class="logo" src="<%=imageLink%>">
					<br><br>
					<p>
						<h2><%=title%></h2><br>
						<%=body%> <%=email%>
					</p>
					<p>
						Password must be at least 11 characters long
					</p>
					<form id="password_reset" method="post" action="verification_email.html">
						<div class="form-group">
							<input type="password" id="password" class="form-control" placeholder="<%=hint%>"/>
						</div>
						<div class="form-group">
							<input type="password" id="confirmPassword" class="form-control" placeholder="<%=hintConfirm%>"/>
						</div>
					</form>
					<button type="button" class="btn" onClick="resetPassword()" style="background-color: rgb(31, 182, 68); color: black"><b><%=buttonText%></b></button>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		function resetPassword(){
			var form = document.getElementById('password_reset');
			var password = document.getElementById('password');
			var confirmPassword = document.getElementById('confirmPassword');

			if(password.value != null && password.value.length > 10 && confirmPassword.value != null && confirmPassword.value.length > 0){
				if(password.value == confirmPassword.value){
					var http = new XMLHttpRequest();
					http.open('POST', '<%=url%>' , true);
					http.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
					http.onreadystatechange = function() { // Call a function when the state changes.
						if(this.readyState === XMLHttpRequest.DONE) {
							if(this.status == 200){
								var card = document.getElementById('main_card_body');
								card.innerHTML =
									"<img class='logo' src='<%=imageLink%>'><br><br>" + 
										"<p>" + 
											"<h2>"+ JSON.parse(http.response)['title'] +"</h2><br>" + 
											JSON.parse(http.response)['msg'] + 
										"</p>";
							}else{
								form.reset();
								alert(JSON.parse(http.response)['msg']);
							}
						}
					} 
					http.send('email=<%=email%>&password=' + password.value);
				}else{
					form.reset();
					alert('<%=pwdMismatchErrorMsg%>');
				}
			}else{
				form.reset();
				alert('<%=pwdEmptyErrorMsg%>');
			}
		}
	</script>
			
</body>
			  
</html>
